/* Styling for the banner */
.banner2-container {
    background: linear-gradient(90deg, #2e0e48, #08132c);
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    color: white;
    font-family: Arial, sans-serif;
  }
  
  .banner2-content {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 60%;
  }
  
  .ai2-background {
    font-size: 100px;
    font-weight: bold;
    color: rgba(255, 255, 255, 0.1);
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
  }
  
  .banner2-text {
    z-index: 2;
    position: absolute;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .banner2-text h1 {
    font-size: 60px;
    margin: 0;
    color: white;
  }
  
  .banner2-text p {
    font-size: 18px;
    font-weight:100;
    color: white; /* Gold color */
    margin: 0;
    padding-top: 15px;
  }

  .banner2-text a {
    font-size: 25px;
    font-weight: bold;
    color: white; /* Gold color */
    margin: 0;
    padding-top: 20px;
  }

  
  